# From RHDP details
subscription_id = ""
client_id = ""
client_secret = ""
tenant_id = ""

# From $(az ad sp show --id $CLIENT_ID --query id -o tsv)
object_id = ""

# From $(az provider show -n Microsoft.RedHatOpenShift --query "authorizations[0].applicationId" -o tsv)
redhat_openshift_provider_id = ""
